<div class="modal-backdrop fade">&nbsp;</div>
<div class="modal fade">
  <div class="modal-header">
    <button type="button" class='close' {{action closeModal}}>×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
  {{yield}}
  </div>
  <div class="modal-footer">
  </div>
</div>