<li class='stack span3'>
  <div class='stack'>
    <header class='stack_header'>
      {{#linkTo 'stacks.edit' stack class='pull-right'}} <i class="icon-cog"></i> {{/linkTo}}
      <h5>{{stack.title}}</h5>
    </header>

    <ol class='cards'>
      <li class='card'>
        <div class='card important'>
          <header class='card_header'>
            <h6>11</h6>
          </header>
          <footer>
            <ul>
              <li>issue</li>
              <li>bug</li>
            </ul>
          </footer>
        </div>
      </li>
      <li class='card'>
        <div class='card'>
          <header>
            <h6>11</h6>
          </header>
        </div>
      </li>
      <li class='card'>
        <div class='card'>
          <header>
            <h6>11</h6>
          </header>
        </div>
      </li>
    </ol>
  </div>
</li>