<li class='stack span3'>
  <div class='stack'>
    <header class='stack_header'>
      {{#linkTo 'stacks.edit' stack class='pull-right'}} <i class="icon-cog"></i> {{/linkTo}}
      <h5>{{stack.title}}</h5>
    </header>

    <ol class='stories'>
      {{#each story in stack.stories}}
        <li class='story'>
          <div class='story important'>
            <header class='story_header'>
              <h6>{{story.title}}</h6>
            </header>
            <footer>
              <ul>
                <li>issue</li>
                <li>bug</li>
              </ul>
            </footer>
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
</li>