<li class='stack span3'>
  <div class='stack'>
    <header>
      <a class="pull-right" href="#"><i class="icon-cog"></i></a><h5>{{title}}</h5>
    </header>

    <ol class='cards'>
      <li class='card'>
        <div class='card important'>
          <header>
            <h6>11</h6>
          </header>
        </div>
      </li>
      <li class='card'>
        <div class='card'>
          <header>
            <h6>11</h6>
          </header>
        </div>
      </li>
      <li class='card'>
        <div class='card'>
          <header>
            <h6>11</h6>
          </header>
        </div>
      </li>
    </ol>
  </div>
</li>