<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= stylesheet_link_tag :application, :media => :all %>

    <title>Title</title>
  </head>
  <body>
    <%= javascript_include_tag :application %>
  </body>
</html>
