$bodyBackground: #dbe4eb

@import 'bootstrap'
@import 'bootstrap-responsive'

body
  padding-top: 60px

ol.projects
  @extend .unstyled
  li.project
    background-color: Snow
    margin-bottom: $baseLineHeight
    @include box-shadow(0 1px 3px rgba(0,0,0,.1))
    div.project
      padding: 10px
      div.graph
        height: 150px

ul.stacks
  @extend .unstyled
  li.stack
    margin-bottom: $baseLineHeight
    height: 500px
    background-color: Snow
    @include box-shadow(0 1px 3px rgba(0,0,0,.1))
    div.stack
      header
        padding: 10px
      header.stack_header
        border-bottom: 1px solid #E0E1DB
    ol.stories
      @extend .unstyled
      li.story
        border-bottom: solid 1px #E0E1DB
      div.story
        height: 100px


