$bodyBackground: #dbe4eb

@import 'bootstrap'
@import 'bootstrap-responsive'

body
  padding-top: 60px

ul.projects
  @extend .unstyled
  li.project
    height: 250px
    background-color: #fff
    margin-bottom: $baseLineHeight
    @include box-shadow(0 1px 3px rgba(0,0,0,.1))
    div
      padding: 10px

ul.stacks
  @extend .unstyled
  li.stack
    margin-bottom: $baseLineHeight
    height: 500px
    background-color: #fff
    @include box-shadow(0 1px 3px rgba(0,0,0,.1))
    div.stack
      padding: 10px
    ul.cards
      @extend .unstyled