<div class="row">
  <ol class='projects'>
    {{#each project in projectGroup}}
      {{#unless project.isNew }}
        {{partial 'projects/project_box'}}
      {{/unless }}
    {{/each}}
  </ol>
</div>