<li class='project span3'>
  <div class='project'>
    <header>
      <h3>{{#linkTo 'projects.show' project}}{{ project.title }} {{/linkTo}}</h3>
    </header>
    <div class='graph'>
      ggg
    </div>
    <footer>
      <li>
        <ul>gbelleguic</ul>
      </li>
    </footer>
  </div>
</li>