<ul class='unstyled projects'>
  {{#each project in controller}}
    <li>
      <h3>{{#linkTo 'projects.show' project}}{{ project.title }} {{/linkTo}}</h3>
    </li>
  {{/each}}
</ul>

{{#linkTo 'projects.new'}}New{{/linkTo}}