<div class='page-header'>
  {{#linkTo 'projects.new' class='btn btn-small pull-right'}}New{{/linkTo}}
  <h2>Projects</h2>
</div>
{{#each projectGroup in controller.groupProjects }}
  {{partial 'projects/grouped_projects'}}
{{/each}}