<div class='page-header'>
  
  <button {{action addProject}} class='btn btn-small pull-right'>New</button>
  <h2>Projects</h2>
</div>
{{#each projectGroup in controller.groupProjects }}
  {{partial 'projects/grouped_projects'}}
{{/each}}