<div class='page-header'>
  <button class='btn btn-small pull-right' {{action newProject}}>New</button>
  <h2>Projects</h2>
</div>
{{#each projectGroup in controller.groupProjects }}
  {{partial 'projects/grouped_projects'}}
{{/each}}