<form>
  <fieldset>
    <div>
      <label {{bindAttr for="titleField.elementId"}}>Title</label>
      {{view Ember.TextField valueBinding='title' name='title'}}
    </div>

    <!-- <a href='#' {{action save}} class='btn btn-success'>Create</a> -->
  </fieldset>
</form>